/* You can delete / re-write this img class  */

img {
    max-width: 200px;
}


/*===========================blocks===============*/
.container{
    display: flex;
    flex: wrap;
    justify-content: center;
}